$color-black: #333;
$color-white: #fff;

$color-base00: #282a2e;
$color-base01: #373b41;
$color-base02: #585858;
$color-base03: #969896;
$color-base04: #b4b7b4;
$color-base05: #c5c8c6;
$color-base06: #e0e0e0;
$color-base07: #f5f5f5;

$color-primary: #97dbd4;
$color-secondary: #d08890;

$fa-font-path: "fonts";
