$color-black: #333;
$color-white: #fff;

$color-base00: #282a2e;
$color-base01: #373b41;
$color-base02: #585858;
$color-base03: #969896;
$color-base04: #b4b7b4;
$color-base05: #c5c8c6;
$color-base06: #e0e0e0;
$color-base07: #f5f5f5;
$color-base08: #c82829; // red
$color-base09: #f5871f; // orange
$color-base0a: #eab700; // yellow
$color-base0b: #718c00; // green
$color-base0c: #3e999f; // cyan
$color-base0d: #4271ae; // blue
$color-base0e: #8959a8; // purple
$color-base0f: #a31515; // brown

$fa-font-path: "/static/fonts";
