@charset "UTF-8";

@import "variables";

@import "normalize-css/normalize";
@import "font-awesome/scss/font-awesome";

@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin highlighter {
  background: darken($color-primary, 40%);
  color: $color-white;
  text-shadow: none;
}

html {
  overflow-y: scroll;
}

body {
  color: $color-black;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-family: "Rokkitt", "Georgia", "Times New Roman", "Times", serif;
}

ul {
  list-style-type: none;
  margin: 40px 0;
  padding-left: 0;
}

.container {
  margin: 24px auto;
  max-width: 740px;
  padding: 0 24px;
}

.header {
  background-color: $color-primary;
  border-bottom: 1px solid darken($color-primary, 20%);
  color: $color-white;
  padding: 24px 0;
}

.header h1,
.header i {
  font-size: 100px;
  line-height: 1;
  margin: 0;
  text-shadow: 4px 3px 0 darken($color-primary, 20%), 7px 6px 0 rgba(0,0,0,0.15);
}

.header i {
  float: right;
  font-size: 122px;
}

.header p {
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  margin: -10px 0 0;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.15);
  text-transform: uppercase;
}

.content {
  background-color: $color-white;
}

.about {
  font-size: 26px;
  line-height: 36px;
  text-align: justify;
}

.builder {
  @include clearfix();
}

.builder ul {
  margin: 0;
}

.pieces {
  float: left;
}

.pieces li {
  font-weight: bold;
  line-height: 2;
  margin-top: 2px;
  text-align: right;
}

.beats {
  float: right;
}

.beat button {
  background-color: $color-white;
  border: none;
  color: $color-base01;
  outline: none;
  padding: 1px 2px;
}

.counter {
  float: right;
}

.counter li {
  color: $color-base05;
  display: inline;
  font-family: monospace;
  font-size: 12px;
  margin: 14px;
}

.controls {
  margin: 26px 0;
}

.controls li {
  display: inline;
}

.controls li + li {
  margin-left: -3px;
}

.controls li.spacer {
  margin-left: 20px;
}

.controls button,
.controls span {
  background-color: darken($color-primary, 10%);
  border: 1px solid darken($color-primary, 40%);
  color: $color-white;
  padding: 8px 12px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.controls button {
  background-image: linear-gradient($color-primary, darken($color-primary, 10%));
  box-shadow: inset 0px 0px 2px $color-white;
}

.controls button:hover {
  background-color: $color-primary;
  background-image: linear-gradient(darken($color-primary, 10%), $color-primary);
}

.controls button:focus {
  border-color: darken($color-primary, 50%);
  box-shadow: inset 0px 0px 3px $color-base03;
  outline: none;
}

.footer {
  color: $color-base02;
}

.footer a {
  color: $color-secondary;
  text-decoration: none;
}

.footer a:hover {
  color: darken($color-secondary, 20%);
}

::selection { @include highlighter; }
::-moz-selection { @include highlighter; }
