<div class="container">

  <div class="header">
    <h1>kHz.io</h1>
  </div>

  <div class="content">
    {{outlet}}
  </div>

  <div class="footer">
    <ul>
      <li>footer</li>
    </ul>
  </div>

</div>
