<div class="header">
  <div class="container">
    <i class="fa fa-volume-up"></i>
    <h1>kHz.io</h1>
    <p>Hypershareable Drum Loops</p>
  </div>
</div>

<div class="content">
  <div class="container">
    {{outlet}}
  </div>
</div>

<div class="footer">
  <div class="container">
    <span>Built by <a href="http://pnelson.ca/">Philip Nelson</a></span>
  </div>
</div>
